/* Copyright YouTube information Widget Plugin, by Samuel Elh ( sam at elegance-style.com ) */

div.ytio * {
	transition: All .3s;
}
div.ytio u {
	text-decoration: underline;
}
div.ytio b,
div.ytio strong {
	font-weight: bold;
}
span.ytio-help {
	background: #E7E7E7;	
	padding: 0.4em 0.7em;
	margin-left: 0.5em;
	cursor: pointer;
	color: #0074A2;
	white-space: pre;
	transition: All .1s;
}
span.ytio-help-active {
	background: #999999;	
	color: #fff;
}
a[href^="options-general.php?page=ytio_clear_cache"],
a[href="options-general.php?page=ytio_clear_cache"] {
    display: none!important;
}
tr.ytio-hid {
	display: none;
}
tr.ytio-help td {
	line-height: 1.3;
	font-size: 13px;
	background: #DFDFDF;
	float: left;
	padding: 1em;
	border-radius: 3px;
}
tr.ytio-help td:before {
	content: "";
	display: block;
	border: 0.7em solid transparent;
	border-bottom-color: #DFDFDF;
	float: left;
	margin-top: -30px;
}
@media screen and (max-width: 782px) {
	tr.ytio-help td:before {
		display: none;
	}
	div.ytio fieldset {
		width: inherit!important;
		float: none!important;
	}
}
#ytio-clear-cache a {
	background: #2EA2CC;
	padding: .6em 1em;
	color: #fff;
	text-decoration: none;
	box-shadow: 1px 1px 3px #574F4F;
	margin-right: .5em;
}
#ytio-submit img {
    margin: -5px 0;
    display: none;
    -webkit-opacity: .5;
    opacity: .5;
}